{% extends "base.html" %}
{% block content %}
    <nav>
        <h1>
            <a href="{% url 'posts/feeds' %}">햄스터</a>
        </h1>
        <a href="{% url 'posts/post_add' %}">Add Post</a>
        <a href="{% url 'users/logout' %}">Logout</a>
    </nav>
    <div id="feeds" class="post-container">
        {% for post in posts %}
            <article id="post-{{post.id}}" class="post">
                <header class="post-header">
                    {% if post.user.profile_image %}
                        <img src="{{post.user.profile_image.url}}" alt="">
                    {% endif %}
                    <span>{{post.user.username}} </span>
                </header>

                {% comment %} 이미지 슬라이드 시작 {% endcomment %}
                <div class="post-images splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in post.postimage_set.all %}
                                {% if image.photo %}
                                    <li class="splide__slide">
                                        <img src="{{image.photo.url}}" alt="">
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- 이미지 슬라이드 마무리 -->
                <!-- 글 내용 출력 시작-->
                <div class="post-content">
                    {{post.content|linebreaksbr}}
                </div>
                <!-- 글 내용 출력 마무리 -->
                <!-- 좋아요/댓글 표시 시작-->
                <div class="post-buttons">
                    <span>Comments({{post.comment_set.count}})</span>
                </div>
                <!-- 좋아요/댓글 표시 마무리-->
                <!-- 댓글 시작 -->
                <div class="post-comments">
                    <ul>
                        {% for comment in post.comment_set.all %}
                            <li>
                                <span>{{comment.user.username}} </span>
                                <span>{{comment.content}} </span>

                                <!-- 댓글 삭제 form 추가-->
                                {% if user == comment.user %}
                                    <form action="{% url 'posts/comment_delete' comment_id=comment.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">삭제</button>
                                    </form>
                                {% endif %}
                                <!-- 댓글 삭제 form 삭제-->
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- 댓글 마무리 -->
                <!-- 작성일자, 댓글 입력 창 시작-->
                <small>{{post.created}} </small>
                <div class="post-comment-create">
                    <form action="{% url 'posts/comment_add' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post" value="{{post.id}}">
                        <!--{{ comment_form.as_p}} 
                        이것으로 해주게되면, 내가 머물고 있는 A포스팅 외에도 B포스팅등
                        드랍다운으로 선택해 줄 수 있어서 적합하지 않다.-->
                        {{comment_form.content}}
                        <button type="submit">게시</button>
                    </form>
                </div>
                <!-- 작성일자, 댓글 입력 창 마무리-->
            </article>
        {% endfor %}
    </div>
    <script>
        const elms = document.getElementsByClassName('splide')
        for (let i = 0; i < elms.length; i++) {
            new Splide(elms[i]).mount();
        }
    </script>
{% endblock  %}